body {
  background-color:#FFFFFF;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

#abc {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 7%;
  height: 50px;
  margin: -52px 0 0 25.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.3em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#alcultor {
  float: left;
  width: 59.2668202764%;
  height: 274px;
  margin: 14px 0 0 11.87097%;
  background-color: #CBDBEE;
  
}
#table{
  display: none;  
/*  width: 79.2668202764%;
  height: 274px;
  margin: 13px 0 0 7.87097%;*/
 
  width: 78.3364055299%;
  margin: 20px 0 0 3.67922%;

}
#tempCalcultot{
     
}

#comma {
  display: block;
  position: relative;
  float: left;
  z-index: 9;
  width: 8%;
  height: 60px;
  margin: 7px 0 0 1.18512%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
}

#division {
  
  position: relative;
  float: left;
  z-index: 24;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 63%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.somediv{
  float: left;
  clear: both;
  width: 79.8387096774%;
  height: 162px;
  margin: 41px 0 0 10.82769%;
  background-color: rgb(222, 222, 222);
  overflow: auto;
  display: none;
}

#clcultor{
    background-color:#7ebce5;
    
}
.hidden{
  float: left;
  clear: both;
  width: 79.8387096774%;
  height: auto;
  margin: 41px 0 0 10.82769%;
  background-color: rgb(222, 222, 222);
  overflow: auto;
  font-size: 0.8em;
  border:1px solid black;
  margin-bottom: 222px;
}
.divAfterSubmit{
   float: left;
  clear: both;
  width: 79.8387096774%;
  height: auto;
  margin: 48px 0 0 10.82769%;
  background-color: rgb(222, 222, 222);
  overflow: auto;
  display: inline;
  font-size: 1.2em;
  border:1px solid black;
  margin-bottom: 222px; 
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}
td{
  text-align: left;
  vertical-align: bottom;
  height: 0.1px;
  text-align:left;
}
td:last-child {
    text-align: left;
}
th{
    text-align: center;
    font-weight: bold;
     height: 0.001px;
}
#equal {
  display: inline;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 7%;
  height: 50px;
  margin: -53px 0 0 48%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
   border-radius: 10px;
}

#expo {
  display: inline;
  position: relative;
  float: left;
  z-index: 18;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 63%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
#expoLarge{
  display: inline;
  position: relative;
  float: left;
  z-index: 18;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 55.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
#largebracketl {
  
  position: relative;
  float: left;
  z-index: 20;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
#mul {
  
  position: relative;
  float: left;
  z-index: 24;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  
}
#divisionLarge{
  
  position: relative;
  float: left;
  z-index: 24;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 55.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#square{
  display: inline;
  position: relative;
  z-index: 20;
  width: 7%;
  height: 50px;
  margin:202.5px 0 0 -0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  white-space:nowrap;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
 }
 #squrexp{
  display: inline;
  position: relative;
  z-index: 20;
  width: 7%;
  height: 50px;
  margin: 202.5px 0 0 -6.8%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  white-space:nowrap;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
 }

#largebracketr {
  
  position: relative;
  float: left;
  z-index: 15;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
#righbracket {
   display: inline; 
  position: relative;
  float: left;
  z-index: 0;
  width: 7%;
  height: 50px;
  margin: -9px 0 0 25.1%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#leftbracket {
  display: block;
  position: relative;
  float: left;
  z-index: 5;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
   border-radius: 10px;
}

#or {
  display: inline;
  position: relative;
  float: left;
  z-index: 10;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.logo {
  float: left;
  width: 53.8641686182%;
  min-height: 58px;
  margin: 35px 0 0 27.18714%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

#minus {
 display: inline;
  position: relative;
  float: left;
  z-index: 17;
  width: 7%;
  height: 50px;
  margin: -158px 0 0 63%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}


#wqualLarge {
  display: block;
  position: relative;
  float: left;
  z-index: 24;
  width: 7%;
  height: 50px;
  margin: -8px 0 0 0.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
 
  
}




.diut {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 81.3364055299%;
  height: 64px;
  margin: 229px 0 0 9.67922%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 1.813em;
  color: rgb(0, 0, 0);
}
#output{
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 81.3364055299%;
  height: 64px;
  margin: 229px 0 0 9.67922%;
  padding:20px 0;
  background-color: rgb(242, 242, 242);
  font-size:20px;
  font: -moz-field;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  cursor: text;
  -webkit-appearance: textfield;
}
#inputDiv{
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 76.3364055299%;
  height: 84px;
  margin: 129px 0 0 4.67922%;
  background-color: rgb(242, 242, 242);
  font-size:20px;
  font: -moz-field;
  color: rgb(0, 0, 0);
  outline: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: text;
  border-style: solid;
  border-width:  medium;
  
  
 
}
#percent {
  display: block;
  position: relative;
  float: left;
  z-index: 23;
  width: 7.9978813559%;
  height: 60px;
  margin: 7px 0 0 1.32857%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
}
#space{
  display: inline;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 7%;
  height: 50px;
  margin: -53px 0 0 55.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
   border-radius: 10px;
}

#plus {
  display: inline;
  position: relative;
  float: left;
  z-index: 17;
  width: 7%;
  height: 50px;
  margin: -158px 0 0 55.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#point {
  display: inline;
  position: relative;
  float: left;
  z-index: 5;
  width: 7%;
  height: 50px;
  margin: -52px 0 0 40.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}



#submit {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 30;
  width: 10.3732718894%;
  height: -90000px;
  margin: -82px 0 0 68.6423499999%;
  border-radius: 3px;
  background-color:  rgb(242, 242, 242);
  font-size: 2em;
  text-align: center;
  color: #cc99ff;
  
}

#send{
  width: 124.3732718894%;
  height: 81px;
  margin: -1px 0 0 -11.6423499999%;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
.rest{
   position: absolute;
   width: 77px;
   height: 68px;
   left: 1251px;
   top:490px;
   right: 1434px;
   bottom: 513px;
   border-radius: 3px;
    display: block;
   color: rgb(0, 0, 0);
   background-color: rgb(222, 222, 222);
}

#x {
  display: inline;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 25.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
   border-radius: 10px;
}

#y {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 7%;
  height: 50px;
   margin: -158px 0 0 25.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#z {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 25.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#zero{
  display: inline;
  position: relative;
  float: left;
  width: 7%;
  height: 50px;
  margin: -52px 0 0 33.2%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#one {
  display: inline;
  position: relative;
  float: left;
  z-index: 8;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 33%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#two {
  display: inline;
  position: relative;
  float: left;
  z-index: 13;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 40.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#three {
  display: inline;
  position: relative;
  float: left;
  z-index: 18;
  width: 7%;
  height: 50px;
  margin: -104px 0 0 47.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#four {
  display: inline;
  position: relative;
  float: left;
  z-index: 7;
  width: 7%;
  height: 50px;
  margin: -158px 0 0 32.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#five {
  display: inline;
  position: relative;
  float: left;
  z-index: 12;
  width: 7%;
  height: 50px;
  margin: -158px 0 0 40%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#six {
  display: inline;
  position: relative;
  float: left;
  z-index: 17;
  width: 7%;
  height: 50px;
  margin: -158px 0 0 47.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#seven{
  display: inline;
  position: relative;
  float: left;
  z-index: 6;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 32.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#eight{
  
  position: relative;
  float: left;
  z-index: 11;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 40%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#nine {
  
  position: relative;
  float: left;
  z-index: 16;
  width: 7%;
  height: 50px;
  margin: -210px 0 0 47.5%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

._container {
  float: left;
  width: 96.4444444444%;
  height: 125px;
  margin-left: 1.4427083333%;
  
}

.logo strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 2.5em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

/*MathJax,MathJax_Display{
	vertical-align:top;
          display:block; 
}*/
/*.mjx-chtml{
    display:block;
}*/
.mjx-char {
    display: block;
    white-space: pre;
}
.mjx-math * {
    display: inline-block;
    text-align: left;
}
.MJXc-display{
    display:inline !important;
}
.MJXc-processed {
 display: inline !important;
 margin: 229px 0 0 0% !important;
 -webkit-user-modify:read-write !important;
 span {
    -webkit-user-modify: read-write !important;
    -moz-user-modify: read-write !important;
    
    }
}
.custom {
    width: 78px !important;
    height: 52px!important;
}
.w-medium{
    width: 17px;
}
@media (max-width: 768px) {
  .btn-responsive {
     
    font-size:80%;
    line-height: 1;
    border-radius:3px;
       
            
   
     }
}


@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:14px 99px;
    font-size:1000%;
    line-height: 1.2;
    width: 40%;
  height: 900px;
  }
}



@media (max-width: 479px)
{
	.text-break-xs { white-space: normal; }
}

@media (min-width: 480px) and (max-width: 767px)
{
	.text-break-sm { white-space: normal; }
}

@media (min-width: 768px) and (max-width: 991px)
{
	.text-break-md { white-space: normal; }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    .btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    
}
.well {
    width: 95.2668202764%!important;
    height: 274px!important;
    margin: 14px 0 0 -1.87097%!important;
        }
  

#righbracket{  width: 16%; height:40px; font-size: 1em;margin: 0px 0 0 -5%;display: block;position: absolute}
#leftbracket{  width: 16%; height:40px; font-size: 1em;margin: 00px 0 0 12.5%;display:block;position: absolute}
#mul{width: 16%; height:40px; font-size: 1em; margin: 0px 0 0 29.5%;display: block; position: absolute}
#plus{width: 16%; height:40px; font-size: 1em; margin: 00px 0 0 46%;display: block; position: absolute}
#minus{width: 16%; height:40px; font-size: 1em; margin: 00px 0 0 62.5%;display: block; position: absolute}

#one{width: 16%; height:40px; font-size: 1em; margin: 42px 0 0 -6%;display:block;position: absolute}
#two{width: 16%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}

#or{width: 18%; height:40px; font-size: 1em;margin: 00px 0 0 0%;display: none;}
#largebracketr{width: 18%; height:40px; font-size: 1em;margin: 00px 0 0 0%;display: none;}
#largebracketl{width: 18%; height:40px; font-size: 1em;margin: 00px 0 0 0%;display: none;}


#x{width: 18%; height:40px; font-size: 1em; margin: 0px 0 0 0%;display: none;}
#seven{width: 18%; height:40px; font-size: 1em; margin: 0px 0 0%;display: none;}
#eight{width: 18%; height:40px; font-size: 1em; margin: 0px 0 0 0%;display: none;}
#nine{width: 18%; height:40px; font-size: 1em; margin: 0px 0 0 0%;display: none;}
#divisionLarge{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#division{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#y{width: 18%; height:40px; font-size: 1em; margin: 0px 0 0 0%;display: none; }
#four{width: 18%; height:40px; font-size: 1em; margin:-60px 0 0 47.5%;display:none; }
#five{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#six{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
 

#z{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}


#three{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#expo{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#expoLarge{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#abc{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#zero{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#point{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#equal{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#space{width: 18%; height:40px; font-size: 1em; margin: 00px 0 0 0%;display: none;}
#squrexp{width: 18%; height:40px; font-size: 1em;margin: -00px 0 0 0%;display: none;}
#square{width: 18%; height:40px; font-size: 1em;margin: 00px 0 0 0%;display: none;}
}